@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    font-family: 'Poppins', 'Segoe UI', monospace, sans-serif;

    background: teal;
}

nav {
    width: 100vw;
    background-color: lightblue;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.welcome{
    background-color: gray;
}



.projects-grid {

}

.project-tile {

}

#projects{

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  justify-content: space-between;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
  text-align: center;
  height:300px;
  width: 400px; 
  margin: 10px 10px 10px 10px;
}